* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: grey;
}

#bg {
  filter: blur(1px);
  display: block;
  width: 100%;
  margin: 0;
  position: fixed;
  background-image: url("bg.png");
  z-index: -1;
}

#top-wrapper {
  text-align: center;
}

#mid-wrapper {
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 150px;
  position: absolute;
  text-align: center;
  display: block;
}

#bar {
  width: 100%;
  z-index: 99;
  display: inline-flex;
  justify-content: space-around;
}

.bar-static {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 120px;
  position: absolute;
  background-color: #1c1c1c;
  text-align: center;
}

.bar-moving {
  position: fixed;
  background-color: #1c1c1c;
  margin: auto;
  text-align: center;
}

button {
  background-color: #2d2d2d;
  border: none;
  color: white;
  margin: 0px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#p1 {
  width: 300px;
}
